# Flare Peak Detection Machine Learning Model
This file will contain our data preprocessing, machine learning model set up, and model testing to detect flare peaks.

In [1]:
import numpy as np
import pandas as pd

In [2]:
path = "../data/fullSet.csv"

full_set = pd.read_csv(path)
full_set.head()

/var/folders/r7/6cts6h556zzgbx26m_g0p4gw0000gn/T/ipykernel_8241/2582708940.py:3: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  full_set = pd.read_csv(path)

                  time     xrsa_flux     xrsb_flux status
0  2017-02-07 00:00:00  2.949822e-08  7.072423e-08    NaN
1  2017-02-07 00:01:00  2.716477e-08  6.869706e-08    NaN
2  2017-02-07 00:02:00  2.996076e-08  6.933664e-08    NaN
3  2017-02-07 00:03:00  3.124979e-08  6.796333e-08    NaN
4  2017-02-07 00:04:00  3.095799e-08  6.928261e-08    NaN

In [3]:
# full_set['peak'] = np.where(full_set['status'] == 'EVENT_PEAK', 1, 0)
in_event = False
event_label = 0
labels = []

for status in full_set['status']:
    if status == 'EVENT_START':
        in_event = True
        event_label = 1
    elif status == 'EVENT_END':
        in_event = False
        event_label = 0
    labels.append(event_label)

full_set['flare'] = labels

full_set.head(10000)

                     time     xrsa_flux     xrsb_flux status  flare
0     2017-02-07 00:00:00  2.949822e-08  7.072423e-08    NaN      0
1     2017-02-07 00:01:00  2.716477e-08  6.869706e-08    NaN      0
2     2017-02-07 00:02:00  2.996076e-08  6.933664e-08    NaN      0
3     2017-02-07 00:03:00  3.124979e-08  6.796333e-08    NaN      0
4     2017-02-07 00:04:00  3.095799e-08  6.928261e-08    NaN      0
...                   ...           ...           ...    ...    ...
9995  2017-02-14 19:56:00  4.130439e-09  3.169877e-08    NaN      0
9996  2017-02-14 19:57:00  3.370558e-09  3.293717e-08    NaN      0
9997  2017-02-14 19:58:00  4.871447e-09  3.275998e-08    NaN      0
9998  2017-02-14 19:59:00  4.171957e-09  3.249245e-08    NaN      0
9999  2017-02-14 20:00:00  4.031610e-09  3.261046e-08    NaN      0

[10000 rows x 5 columns]