In [1]:
import pandas as pd
import xarray as xr

In [2]:
min_averages = '../Data/XRS 1-minute AVG GOES17/sci_xrsf-l2-avg1m_g17_s20180601_e20230110_v2-2-0.nc'
summaries = '../Data/XRS Flare Summary GOES17/sci_xrsf-l2-flsum_g17_s20180601_e20230110_v2-2-0.nc'

file1 = xr.open_dataset(min_averages)
file2 = xr.open_dataset(summaries)

var1 = file1['time']
var2 = file1['xrsa_flux']
var3 = file1['xrsb_flux']

var4 = file2['time']
var5 = file2['status']
var6 = file2['flare_class']

In [3]:
new_dataset1 = xr.Dataset({
    'time': var1,
    'xrsa_flux': var2,
    'xrsb_flux': var3,
})

In [4]:
new_dataset2 = xr.Dataset({
    'time': var4,
    'status': var5,
    'flare_class': var6,
})

In [5]:
df1 = new_dataset1.to_dataframe()
df2 = new_dataset2.to_dataframe()

In [6]:
df1.head()

                        xrsa_flux     xrsb_flux
time
2018-06-01 00:00:00  3.990444e-09  9.771203e-08
2018-06-01 00:01:00  1.911961e-09  9.790138e-08
2018-06-01 00:02:00  4.745282e-09  1.006834e-07
2018-06-01 00:03:00  5.898575e-09  9.936645e-08
2018-06-01 00:04:00  5.632279e-09  9.511391e-08

In [7]:
df2.head()

                          status flare_class
time
2018-06-01 04:56:00  EVENT_START         nan
2018-06-01 05:05:00   EVENT_PEAK        B3.1
2018-06-01 05:10:00    EVENT_END         nan
2018-06-01 05:26:00   POST_EVENT         nan
2018-06-01 05:58:00  EVENT_START         nan

In [8]:
merged_df = pd.merge(df1, df2, on='time', how='inner')

In [9]:
merged_df.head()

                        xrsa_flux     xrsb_flux       status flare_class
time
2018-06-01 04:56:00  1.000000e-09  1.561914e-07  EVENT_START         nan
2018-06-01 05:05:00  3.124673e-09  3.197082e-07   EVENT_PEAK        B3.1
2018-06-01 05:10:00  5.708710e-09  2.236506e-07    EVENT_END         nan
2018-06-01 05:26:00  3.288514e-09  1.495329e-07   POST_EVENT         nan
2018-06-01 05:58:00  1.000000e-09  1.364190e-07  EVENT_START         nan

In [10]:
merged_df.to_csv('GOES_17_merged_data.csv', index=False)